.footer {
  height: 40rem;
  background: linear-gradient(to bottom, #000517, #000b24, #000b24, #000517);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
  color: rgb(68, 68, 68);
  margin-top: 10rem;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
}

.footer .footer-info {
  flex: 1;
  padding: 0 2rem;
  line-height: 3rem;
}

.footer .footer-info p strong {
  color: #fff;
}

.footer .footer-contact {
  font-size: 1.6rem;
  flex: 0 0 240px;
  height: 160px;
  margin: 0 50px;
  line-height: 3rem;
}

.footer .footer-contact div:nth-child(1) {
  color: #fff;
}
